{% extends "layouts/cabezera.html" %} 
{% load static tailwind_tags %}
{% load static %} 
{% block content %}
<html>
  <head>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
    />
    <link
      rel="shortcut icon"
      href="../static/assets/logo.jpeg"
      type="image/x-icon"
    />
    <title>Café Dulce´s</title>
    {% tailwind_css %}
  </head>
  <body class="overflow-x-hidden bg-background">
    <section
      class="-z-10 absolute w-full h-1/2 sm:h-h-75 bg-botones sm:bg-transparent"
    >
      <img
        src="../static/assets/cake-g4ae03a312_1280.jpg"
        alt="logo banner"
        class="relative -z-10 md:-mt-36 sm:-mt-36 lg:h-h-75 lg:w-full h-auto object-cover hidden sm:block"
      />
    </section>

    <div class="z-50 text-white mt-11 sm:mt-36 flex flex-col">
      <p
        class="text-center font-bold text-4xl sm:text-6xl mt-20 sm:mt-10 lg:mt-32 px-1"
      >
        ¡Mereces Días Dulces!
      </p>
      <p class="text-3xl sm:text-3xl text-center mt-8 sm:mt-10 px-1">
        Prueba Nuestra Variedad De Postres
      </p>

      <a href="productos"
        
        class="bg-blue-500 w-52 h-12 m-auto mt-10 sm:w-48 sm:text-lg focus:outline-none text-white md:bg-botones font-bold rounded-full text-sm px-5 py-2 hover:bg-white hover:text-botones transition duration-500 mb-20 text-center"
      >
        Ver Productos
      </a>
    </div>
    <div class="p-destacados w-full h-full mt-3">
      <div class="text-producto mt-1 p-5 ml-3 lg:mt-36">
        <p class="text-2xl font-semibold lg:text-4xl md:mt-10 mt-1">
          Productos Destacados
        </p>

        <p class="text-2xl font-bold mt-5 lg:text-6xl">
          Descubre La Excelencia De <br />
          Nuestros Productos
        </p>
      </div>

      <div class="swiper mySwiper mt-10">
        <div class="swiper-wrapper">
          {% for item in productos|slice:":6" %}
          
              <div class="swiper-slide">
                <div class="w-72 bg-white shadow-md rounded-xl duration-500 hover:scale-105 hover:shadow-xl ml-4">
                    <a href="{% url 'productoSelecionado' producto_id=item.ProductoID %}">
                        {% if item.imagen %}
                        <img src="{{ item.imagen.url }}"
                                alt="{{ item.NombreProducto }}" class="h-80 w-72 object-cover rounded-t-xl" />
                        {% endif %}
                        <div class="px-4 py-3 w-72">
                            {% for categoria in categorias %}
                                {% if item.CategoriaID == categoria %}
                            <span class="text-gray-400 mr-3 uppercase text-xs">{{ categoria.NombreCategoria }}</span>
                                {% endif %}
                            {% endfor %}
                            <p class="text-lg font-bold text-black truncate block capitalize">{{ item.NombreProducto }}</p>
                            <a href="{% url 'productoSelecionado' producto_id=item.ProductoID %}"
                            
                            class="inline-block rounded-lg bg-blue-400 px-6 pb-2 pt-2.5 mt-6 text-xs font-medium uppercase leading-normal text-white hover:bg-blue-500  hover:font-semibold transition duration-500 text-center"
                          
                          >
                            Ver Más
                          </a>
                        </div>
                    </a>
                </div>
              </div>
          {% endfor %}
        </div>
      </div>
    </div>

    <div class="promociones mt-36 lg:absolute w-full lg:h-full">
      <div class="texto-promo absolute w-full h-80">
        <p
          class="text-white z-40 text-center font-bold text-3xl lg:text-6xl px-1 py-5 mt-2"
        >
          Promociones Especiales
        </p>
        <p
          class="text-white lg:text-black text-center lg:font-bold font-semibold lg:text-5xl text-3xl px-1 my-3"
        >
          No Lleges A Casa Sin Algo Especial
        </p>
      </div>
      <img
        src="../static/assets/promotion-2.jpg"
        alt="fondo promociones"
        class="w-full h-h-75 object-cover object-left lg:h-full relative -z-10"
      />
    </div>



    <div class="swiper mySwipers -mt-96 lg:mt-80">
      <div class="swiper-wrapper">
        {% for item in productoPostre %}
      <div class="swiper-slide">
        <!-- component -->
        <div class="-mt-32 mx-auto flex  min-h-screen items-center justify-center">
          <div class=" relative flex h-96 w-full max-w-[50rem]  rounded-xl bg-white bg-clip-border text-gray-700 shadow-md">
            <div class="relative m-0 w-2/5 shrink-0 overflow-hidden rounded-xl rounded-r-none bg-white bg-clip-border text-gray-700">
              {% if item.imagen %}
              <img
                src="{{ item.imagen.url }}"
                alt="{{ item.NombreProducto }}"
                class="h-full w-full object-cover"
              />
              {% endif %}
            
            </div>
            <div class="p-6">
            
              <h4 class="mb-2 block font-sans text-2xl font-semibold leading-snug tracking-normal text-blue-gray-900 antialiased">
                {{ item.NombreProducto }}
              </h4>
              <p class="mb-8 block font-sans text-base font-normal leading-relaxed text-gray-700 antialiased">
                {{ item.Descripcion }}
              </p>
              <a class="inline-block" href="#">
                <a href="{% url 'productoSelecionado' producto_id=item.ProductoID %}"
              
                class="inline-block rounded-lg bg-blue-400 px-6 pb-2 pt-2.5 mt-6 text-xs font-medium uppercase leading-normal text-white hover:bg-blue-500  hover:font-semibold transition duration-500 text-center"
             
             
            >
              Ver Más
            </a>
              </a>
            </div>
          </div>
          <!-- stylesheet -->
          <link
            rel="stylesheet"
            href="https://unpkg.com/@material-tailwind/html@latest/styles/material-tailwind.css"
          />
        </div>
      </div>
        {% endfor %}
      </div>
    </div>

    {% include 'layouts/pie.html' %}
{% endblock %}
  </body>
</html>
